{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar sticky-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('home') }}">MenDelSIM</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('variant_gen') }}">Variant Simulator</a></li>
            <li><a href="#">Family Simulator</a></li>
          </ul>
        </div>
      </nav>
{% endblock %}