{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
    src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static',
    filename='css/form.css') }}">
<script type="text/javascript" src="{{ url_for('static',
    filename='js/variants.js') }}"></script>
<script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script>
{% endblock %}
{% block content %} <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Title</h2>
        <h3>Instructions Instruction</h3>
        <!-- TODO progress bar -->
        <form>
        <!-- radio existing/new -->
        <!-- variant type -->
        <!-- region -->
        <!-- zygosity -->
        <span>{{sex}}</span>
        <span>{{chrom}}</span>
        <span>{{gene_uid}}</span>


















            <!-- end buttons -->
            <a class="btn" id="toVariant" data-href="{{ url_for('variant_gen') }}">Next</a>
            <div class="invalid-feedback missing-error" hidden>All fields
                must be filled correctly before continuing. </div>
            <a class="btn" href="{{ url_for('variant_gen') }}">Reset</a>
        </form>
    </div>
    {% endblock %}