{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
    src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static',
    filename='css/form.css') }}">
<script type="text/javascript" src="{{ url_for('static',
    filename='js/variants.js') }}"></script>
<script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script>
{% endblock %}
{% block content %} <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Title</h2>
        <h3>Instructions Instruction</h3>
        <form>
            <!-- gene name input -->
            <label for="geneName">Gene name</label>
            <input type="text" class="form-control" id="geneName"
                aria-describedby="geneName">
            <!-- get transcript button -->
            <button type="button" class="btn" id="geneTranscriptB">SelectTranscript</button>
            <!-- list of transcripts -->
            <div class="form-group">
                <label for="geneTranscriptL">Transcript Accession Number</label>
                <select class="form-control" id="geneTranscriptL" size="5">
                </select>
                <!-- list of transcripts error -->
                <div class="invalid-feedback geneTranscriptE" hidden>Transcript
                    must be selected.</div>
            </div>
            <!-- Proband Sex -->
            <div class="form-group">
                <label for="probandSex">Proband Sex</label>
                <select class="form-control" id="probandSex">
                    <option selected>Select</option>
                    <option>XX-Female</option>
                    <option>XY-Male</option>
                </select>
                <!-- Proband Sex Error -->
                <div class="invalid-feedback sexE" hidden>Proband sex
                    must be selected.</div>
                <div class="invalid-feedback sexYchromE" hidden>Y
                    chromosome gene selected for XX-Female.</div>
            </div>
            <a class="btn" id="toVariant" data-href="{{ url_for('var1') }}">Next</a>
            <div class="invalid-feedback missing-error" hidden>All fields
                must be filled correctly before continuing. </div>
            <a class="btn" href="{{ url_for('variant_gen') }}">Reset</a>
        </form>
    </div>
    {% endblock %}