<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        crossorigin="anonymous"></script>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400"
        rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <link rel="stylesheet" href="{{ url_for('static',
                filename='css/style.css')}}">
        {% endblock head %}
    </head>
    {% block content %}
    {% endblock content %}
</html>
