<!-- cnv        ["START"],["END"],["COPY_CHANGE"] --> 

<div class="form-group clingen variantDetails">
        <label for="cnvStart">Start coordinate</label>
        <input type="text" class="form-control" id="cnvStart">
        <label for="cnvEnd">Start coordinate</label>
        <input type="text" class="form-control" id="cnvEnd">
        <label for="cnvCopyChange">Copy change</label>
        <input type="number" class="form-control" id="cnvCopyChange">
        <small id="cnvCopyChangeHelp" class="form-text text-muted">-1 for a deletion, 2 for a duplication, 3 for a triplicate, ect...</small>
      </div>
