{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/family.js')}}"></script>
{% endblock head %}

{% block content %}
{% include "nav.html" %}
<div class="container navbar-fix">
    <!-- TITLE -->
    <div class="row">
        <div class="col-sm">
            <h1>Family Designer</h1>
        </div>
    </div>
    <!-- VARIANT FILE -->
    <div class="row">
        <div class="col-sm">
                <form action="/design_family" method="post" enctype="multipart/form-data">
                    Choose the file: <input type="file" name="file"/><BR>
                        <input type="submit" value="Upload"/>
                </form> 
        </div>
    </div>
    <!-- TABLE
    <div class="row">
        <div class="col-sm">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Effected Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Proband</th>
                            <td><select class="form-control" id="probandSex">
                                    <option>XX</option>
                                    <option>XY</option>
                                </select></td>
                            <td>
                                <select class="form-control" id="probandStatus">
                                    <option>Var1</option>
                                    <option>Var2</option>
                                    <option>Both</option>
                                    <option>None</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div> -->
    </div>
    {% include "footer.html" %}
    {% endblock content%}