{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container vertical-align">
            <h1 class="display-4">MenDelSIM</h1>
            <p>Mendelian Disease Simulator </p>
            <a class="btn btn-outline-secondary btn-sm" href="#" role="button">Simulate Variants</a>
            <a class="btn btn-outline-secondary btn-sm" href="#" role="button">Simulate Families</a>        
    </div>
</div>


{% endblock content%}