<!-- indel      ["START"],["INDEL_AMOUNT"] -->

<div class="form-group indel variantDetails {{var}}">
        <label for="indelStart">Start coordinate</label>
        <input type="text" class="form-control" id="cnvStart">
        <label for="indelAmmount">Indel ammount</label>
        <input type="number" class="form-control" id="cnvCopyChange">
        <small id="cnvCopyChangeHelp" class="form-text text-muted">Enter a positive or negative integer between 200 and -200 where negative numbers are deletions and positive numbers are insertions.</small>
      </div>
