<!-- mei        ["START"],["ELEMENT"] -->

<div class="form-group mei variantDetails {{var}}">
        <label for="meiStart">Start coordinate</label>
        <input type="text" class="form-control" id="meiStart">
        <label for="meiElement">Mobile Element</label>
            <select class="form-control" id="meiElement">
                <option id="meiALU">ALU</option>
                <option id="meiLINE">LINE</option>
                <option id="meiSVA">SVA</option>
            </select>
      </div>
