<!-- ["START"],["SNV_TYPE"] -->

<div class="form-group snv variantDetails">
        <label for="snvStart">Start coordinate</label>
        <input type="text" class="form-control" id="snvStart">
        <label for="snvElement">SNV Type</label>
            <select class="form-control" id="snvElement">
                <option id="snvMissense">Missense</option>
                <option id="snvNonsense">Nonsense</option>
                <option id="snvSynonymous">Synonymous</option>
                <option id="snvA">A</option>
                <option id="snvT">T</option>
                <option id="snvG">G</option>
                <option id="snvC">C</option>
                <option id="snvAny">Any</option>
            </select>
      </div>
