<!-- ["START"],["END"],["LENGTH"],["MOTIF"] -->
 

<div class="form-group str variantDetails {{var}}">
        <label for="strSelect">Short Tandem Repeats</label>
        <select class="form-control autoSelect" size="5" id="strSelect">
        </select>
        <label for="strLength">Length of Repeat</label>
        <input type="text" class="form-control" id="strLength">
        <small id="strLengthHelp" class="form-text text-muted">Number of extra repeats where positive numbers are expansions and negative numbers are retractions. </small>
      </div>
