.formDiv {
  background-color: #ffffff;
  border-radius: 25px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 7%;
  padding-top: 5%;
  margin-top: 10%
}
.nav-btn {
  margin: 1%
}
.fam-btn {
  margin: 1%;
}
.errors {
  margin-top: 1%;
}
.btn-primary{
  background-color: #F7931E;
  border-color: #F7931E;
}
.btn-primary:hover{
  background-color: #AA5E04;
  border-color: #AA5E04;
}
.show > .btn-primary:focus{
  background-color: #AA5E04;
  border-color: #AA5E04;
  
  }
.progress-bar{
  background-color: #F7931E;
}
.form-control:focus {
  border-color: #F7931E;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 147, 30, 0.6);

}
.alert-danger {
  margin-top: 15px;
  color: #AA5E04;
  background-color: #fabe78;
  border-color: #fabe78;
}
.table{
  table-layout:fixed;
  width:100%;
}

/* colors
green #00887A
dark blue #77A6F7
pink #FFCCBC
white #FFFFFF
light blue #D3E3FC
*/