:root{
    --dark-blue: #e24e42;
    --dark-green: #e9b000;
    --middle-green: #008f95;
    --light-green: #eb6e80;
    
}
html {
  position: relative;
  min-height: 100%;
}
.autoSelect{
  overflow-y: auto;
  overflow-x: auto;
}
body {  
        font-family: montserrat, sans-serif;
        margin-bottom: 60px; 
        background-color: #008f95
  }
.center{
  text-align: center;
}
.form-row{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.navbar-fix {  
    padding-top: 80px;
}
.fixed-width {
  width: 130px 
}
.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #e9ecef;
}
.navbar{
  background-color: white;
}
.hidden{
  display: none
}
.input-group{
  padding-bottom: 10px
}